* {
    font-family: 'Public Sans', sans-serif;
}

.header {
    color: white;
    background-color: blueviolet;
    padding: 10px 10px 10px 10px;
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
}

.container {
    width: 50%;
    margin: 0 auto; 
}

input {
    padding-bottom: 10px;
}

#foreignCurr {
    width: 300px;
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

button {
    font-size: 1.5em;
    color: white;
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
    background-color: blueviolet;
    border: none;
    border-radius: 25px;
    box-shadow: 3px 4px 10px #390a42;
}

button:active {
    /* -webkit-box-shadow: inset 0px 0px 5px #390a42;
     -moz-box-shadow: inset 0px 0px 5px #390a42; */
          box-shadow: inset 4px 3px 7px #390a42;
}

span {
    font-size: .75em;
}

